<section>
  <h1>About</h1>

  <div>
    Who We Are
    Softrams, LLC is a Virginia-based small business information technology, consulting and solutions provider specializing in emerging technologies for UX/UI, Mobile Apps, DevOps, Big Data Analytics, Data Science and Cyber Security. We offer innovative technology implementations and build customer-centric services that are simple, intuitive, scalable, efficient and most importantly usable.
    What We Do
    Softrams helps customers do business better by leveraging our industry-wide experience, deep technology expertise, comprehensive portfolio of services and vertically aligned business model. Our Agile Center of Excellence (CoE) focuses on 15+ emerging technologies which enables us to rapidly deliver applications that provide value for our clients. We believe in prototypes and we invest in solutions to accelerate time to market.
    Group Background Image
    What We Believe
    We at Softrams, believe in agile repeatable processes, modern technologies, intuitive user interfaces, simple solutions, user-centric
  </div>

</section>
