<section>
	<img src="../../assets/graphics/map.jpg" class="visible-sm visible-md visible-lg" width="100%" height="relative" alt="Map of Softrams Locations">
</section>
<section class="bg">
  <div class="container">

      <h1 class="txtcenter">Contact Us</h1>

    <hr class="divider-small-border">
    <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="row">
       <div class="col-xs-12">
           <h3 class="text-center red paddl">Contracts</h3>
           <h4 class="paddl">Mr. Thomas Campbell<br>
            571-252-8106<br>
            <a href="mailto:Thomas.Campbell@softrams.com" class="blue">Thomas.Campbell@softrams.com</a></h4>
          </div>
        </div>
      </div>


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="row">
       <div class="col-xs-12">

           <h3 class="red txtcenter">Products &amp; Solutions</h3>

           <h4 class="txtcenter">Mr. Atchut Kanthamani<br>
          571-252-8136<br>
            <a href="mailto:Thomas.Campbell@softrams.com" class="blue">Atchut@softrams.com</a></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
         <div class="col-xs-12 right">

             <h3 class="red paddl">HR &amp; Staffing</h3>

             <h4 class="paddl">Ms. Chitra Rao<br>
              571-918-8991<br>
              <a href="mailto:Chitra.Rao@softrams.com" class="blue">Chitra.Rao@softrams.com</a></h4>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
      <div class="row">
      <h3 class="red txtcenter">Locations</h3>
        <div class="col-md-6 col-xs-12 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h5 class="stack-space-lg text-center fss">Softrams, LLC<br>
            161 Fort Evans Road NE<br>
            Suite #205<br>
            Leesburg, VA 20176<br>
  <strong>P:</strong> 571.918.8977<br>
  <strong>F:</strong> 703.879.7589<br>
   <a href="mailto:info@softrams.com">info@softrams.com</a></h5>
        </div>
        <div class="col-md-6 col-xs-12 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h5 class="text-center fss1">Softrams, LLC<br>
            2520 Lord Baltimore Drive<br>
            Suite #H<br>
            Windsor Mill, MD 21244<br>
  <strong>P:</strong> 571.918.8977<br>
  <strong>F:</strong> 703.879.7589<br>
  <a>info@softrams.com</a></h5>
        </div>
      </div>
    </div>
  </div>
</section>
