<!--The content below is only a placeholder and can be replaced.-->
<div >
  <div >
  <app-header style="text-align:left;"></app-header>

    <nav style="text-align:right;">
      <a routerLink="/" routerLinkActive="active" class="white">Home</a>
      <a routerLink="/about" routerLinkActive="active" class="white space">About</a>
      <a routerLink="/services" routerLinkActive="active" class="white space">Services</a>
      <a routerLink="/foundry" routerLinkActive="active" class="white space">App Foundry</a>
      <a routerLink="/training" routerLinkActive="active" class="white space">Training</a>
      <a routerLink="/news" routerLinkActive="active" class="white space">News</a>
      <a routerLink="/careers" routerLinkActive="active" class="white space">Careers</a>
      <a routerLink="/contact" routerLinkActive="active" class="white space">Contact</a>
    </nav>
  </div>

  	
   <router-outlet></router-outlet>
   
</div>
 <app-footer></app-footer>
