<section>
	<img src="../../assets/graphics/news.jpg" width="100%">
</section>
<section id="latest-news" >
	<div class="container">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-sm-6 col-xs-12 wow fadeInDown">
				<h1 style="padding-left:5em;" >Latest News</h1>
				<hr class="divider-small-border" />
				<h3>01/25/2017</h3>
        <p>Softrams has received the approval for CMMI DEV Maturity Level 3 SCAMP appraisal from the CMMI institute.</p>
				<h3>6/21/2016</h3>
				<p>Softrams received approval for our GSA Federal Supply Schedule Contract.</p>
				<h3>6/14/2016</h3>
				<p>Softrams was approved by SBA as "qualified HUBZone small business concern" (SBC).</p>
				<h3>03/01/2016</h3>
				<p>Softrams opens technology innovation center &#123;App-Foundry} on Lord Baltimore Drive in Woodlawn, MD.</p>
				<h3>10/30/2015</h3>
				<p>Softrams received the Northrop Grumman’s 2015 Supplier of the Year award.</p>
			</div>
      <div class="col-sm-6 col-xs-12 wow fadeInDown">
				<h1 class="cont">Latest Contract / Subcontract <span>Awards</span></h1>
				<hr class="divider-small-border" />
				<h3>08/31/2016</h3>
				<p>Softrams subcontract support to RTI International is expanded with the CMS award of a 5-year contract to provide Program Analysis and Operational Support.</p>
				<h3>05/09/2016</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS FPS 2.0 Program.</p>
				<h3>04/15/2016</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS IBOSC Program.</p>
				<h3>04/15/2016</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS ABOSC Program.</p>
				<h3>07/16/2015</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS FPS Program.</p>
				<h3>04/28/2016</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS MIPS-APM Portal Implementation.</p>
				<h3>04/01/2015</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS ICD&amp;A ACO/Next-Gen ACO Program.</p>
				<h3>02/05/2015</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS National Level Repository Program.</p>
				<h3>01/05/2015</h3>
				<p>Softrams received a multi year contract from Northrop Grumman to support CMS Physician Value Program.</p>
			</div>
			</div>
		</div>
	</div>
</section>
