<section class="white-bkgnd">
  &nbsp;<img src="assets/graphics/appfoundry.svg" width="relative" height="relative" style="max-width: 1600px;" alt=""/>
  <div class="container">
    <div class="col-md-12 col-xs-12 wow fadeInDown  animated">
    <h1 class="txtcenter color">&#123;app-foundry}</h1>
      <hr class="divider-small-border" />
      <h4 class="text-center stack-space-lg fs"><div>The Softrams “Idea Lab” and collaboration space in Woodlawn MD, where we focus on solving our customers’ challenges &amp; pain points using proven, </div>
      <div class="txtcenter">  innovative technologies and simple usable digital services.</div></h4>
    </div>
  </div>
</section>
<section class="grey-bkgnd">
  <div class="container">
    <div class="col-md-12 col-xs-12 wow fadeInDown animated">
      <div class="row"><br><br>
        <h2 class="txtcenter">Solutions</h2>
        <hr class="divider-small-border" />
        <div class="col-xs-12 stack-space-lg">
          <p class="fs txtcenter">Some of the technologies we have used to provide innovation and solve some of our customer challenges:</p><br>
          <ul class="five-col-list">
            <li >
              <h4>UI/UX:</h4>
              <ul class="fs">
                <li>Bootstrap 3.3.7</li>
                <li>Angular 2.0</li>
                <li>ReactJS</li>
                <li>VueJS </li>
              </ul>
            </li>
            <li>
              <h4>CI/CD/CM:</h4>
              <ul class="fs">
                <li>Jenkins</li>
                <li>AWS</li>
                <li>CloudFormation</li>
                <li>Puppet</li>
                <li>Ansible</li>
                <li>Docker</li>
              </ul>
            </li>
            <li>
              <h4>Database(s):</h4>
              <ul class="fs">
                <li>Amazon RDS (MySQL, PostgreSQL and Aurora)</li>
                <li>Neo4J</li>
                <li>Cassandra</li>
                <li>DynamoDB</li>
                <li>Redshift</li>
              </ul>
            </li>
            <li>
              <h4>Search:</h4>
              <ul class="fs">
                <li>Elastic Stack</li>
                <li>Solr</li>
              </ul>
            </li>
            <li>
              <h4>Big Data and Data Science:</h4>
              <ul class="fs">
                <li>MapR</li>
                <li>Hortonworks</li>
                <li>Cloudera</li>
                <li>Spark</li>
              </ul>
            </li>
          </ul>
        </div><br><br>
        <div class="col-sm-4 col-xs-12 text-center stack-space-lg">
          <div id="qpp-reg" > <img src="assets/graphics/qpp.jpg" width="100%"  alt=""/>
            <h3 class="heading-on-image">QPP Registration</h3>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 text-center stack-space-lg">
          <div id="enroll-part"> <img src="assets/graphics/enroll.jpg" width="100%"  alt=""/>
            <h3 class="heading-on-image">Enrollment &amp; Participation</h3>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 text-center stack-space-lg">
          <div id="dsh"> <img src="assets/graphics/dhs.jpg" width="100%" alt=""/>
            <h3 class="heading-on-image">Data Service Hub (DSH)</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12 text-center stack-space-lg">
          <div id="provider-ptl" > <img src="assets/graphics/pp.jpg" width="100%"  alt=""/>
            <h3 class="heading-on-image">Provider Portal </h3>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 text-center stack-space-lg">
          <div id="mips-mobile"> <img src="assets/graphics/mips(1).jpg" width="100%"  alt=""/>
            <h3 class="heading-on-image">MIPS Mobile App </h3>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 text-center stack-space-lg">
          <div id="mips-sub"> <img src="assets/graphics/mips (2).jpg" width="100%" alt=""/>
            <h3 class="heading-on-image">MIPS Submission Portal </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg white">
  <div class="container">
    <div class="col-md-12 col-xs-12 wow fadeInDown  animated"><br><br>
      <h2 class="white txtcenter">What Can We Build For You?</h2>
      <p class="txtcenter fs white">Complete the form below with a description of your problem and we will contact you to discuss possible solutions.</p><br>
      <form id="app-foundry-submit" action="#" method="post" onsubmit="confirmation();"  class="form-horizontal col-md-10 col-md-offset-1 col-xs-12" >
        <script type="text/javascript" id="hs-script-loader" async defer src="../js.hs-scripts.com/2789625.js"></script>
        <div class="form-group">
          <label for="name1" class="col-sm-2 control-label"><span class="required">*</span> Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name1" name="realname" placeholder="First and Last Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"> <span class="required">*</span> Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="someone@company.com">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-2 control-label"><span class="required">*</span> Phone</label>
          <div class="col-sm-10">
            <input type="tel" name="phone" class="form-control" id="phone" placeholder="XXX-XXX-XXXX">
          </div>
        </div>
        <div class="form-group">
          <label for="Description" class="col-sm-2 control-label"><span class="required">*</span> Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" name="description" placeholder="Enter Content Here"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="human"><span class="required">*</span> 2 + 2 =</label>
          <div class="col-sm-2">
            <input type="text" id="human" class="form-control" name="captcha" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submit" class="btn btn-primary" value="Send">Submit</button>
          </div>
        </div>
        <input type="hidden" name="required" value="realname,email,phone,description,captcha" />
        <!-- ### MATH VALIDATOR ### -->
      </form>
    </div>
  </div>
</section>
